<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <!-- Font awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="/img/logo.png" alt="">
                    <span class="nav-item">Admin Dash</span>
                </a>
            </li>
            <li><a href="/orderstatus">
                <i class="fas fa-home"></i>
                <span class="nav-item">Order Status</span>
            </a></li>
            <li><a href="/menudetails">
                <i class="fas fa-list"></i>
                <span class="nav-item">Menu Details</Details> </span>
            </a></li>
            <li><a href="/cusdetails">
                <i class="fas fa-user"></i>
                <span class="nav-item">Customer Details</span>
            </a></li>
            <li><a class="btn-book-a-table" href="/logout">Logout</a></li>
        </ul>
    </nav>   
    <div>
    <h2>Edit Food Menu</h2>
    <form method="POST" enctype="multipart/form-data">
        <label for="foodname">Food Name</label>
        <input type="text" id="foodname" name="foodname" placeholder="Food name..">
      
        <label for="desc">Description</label>
        <input type="text" id="desc" name="desc" placeholder="Food Description..">

        <label for="price">Price</label>
        <input type="text" id="price" name="price" placeholder="Food Price..">
      
        <label for="status">Status</label>
        <select id="status" name="status">
            <option value="Available">Available</option>
            <option value="Not Available">Not Available</option>
            <option value="New Item Available">New Item Available</option>
        </select>

        <label for="img">Upload food image</label>
        <input type="file" id="image" name="image">
        
        <input type="submit" value="Submit">
    </formaction=>
</div>

</body>
</html>