<!DOCTYPE html>

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>GFOS | Admin Dashboard</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="stylesheet" href="/css/menu.css">


</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="/admindash">

      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item ">
            <a class="nav-link" href="/admindash">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/orderstatus">OrderStatus</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/menudetails">Menu Details</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/customerdetails">Customer Details</a>
          </li>
          <li class="nav-item ">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
		</ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

 <!--
Welcome Slider
==================================== -->
 <section class="hero-area">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12">
 				<div class="block mt-4">
          <div class="container">
            <div class="admin-product-form-container">
              <form action="/menudetails" method="POST" enctype="multipart/form-data">
                  <h3>Add new Menu</h3>
                  <input type="text" placeholder="enter item name" id="foodname" name="foodname" class="box">
                  <input type="text" placeholder="enter item description" id="desc" name="desc" class="box">
                  <input type="text" placeholder="enter the price" id="price" name="price" class="box">
                  <input type="file" accept="image/png, image/jpeg, image/jpg" id="image" name="image" class="box">
                  <input type="submit" class="btn" name="add_menu_item" value="Submit">
              </form>
            </div>
          </div>
          <div class="product-display">
            <table class="product-display-table">
              <thead>
                <tr>
                  <td>Menu Image</td>
                  <td>Menu Name</td>
                  <td>Menu Description</td>
                  <td>Menu Price</td>
                  <td colspan="2">action</td>
                </tr>
              </thead>
    
              <% menus.forEach(function(image) { %>
              <tr>
                  <td><img class= "card-img-top" src="/uploads/<%=image.image%>" height="100"></td>
                  <td><%= image.foodname %></td>
                  <td><%= image.desc %></td>
                  <td><%= image.price %></td>
                  <td>
                    <a href="/updatemenu/<%= image._id%>" class="btn"> <i class="fas fa-edit"></i>edit</a>
                    <a href="/delete/<%= image._id %>" class="btn"> <i class="fas fa-trash">delete</i></a>
                  </td>
              </tr>
              <% }) %>
            </table>
          </div>       
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
<div class="footer-bottom">
    <h5>&copy; Copyright 2022. All rights reserved.</h5>
    <h6>Design and Developed by:Group 6</h6>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->

<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>

</body>

</html>
