<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>GFOS | Admin Dashboard</title>
  
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="One page parallax responsive HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Bingo HTML Template v1.0">
  
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
  
    <!-- CSS
    ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- Lightbox.min css -->
    <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="plugins/animate/animate.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <!-- Main Stylesheet -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/menu.css">
  
  
  </head>

<body id="body">
  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="/admindash">

      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item ">
            <a class="nav-link" href="/admindash">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/orderstatus">OrderStatus</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/menudetails">Menu Details</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/customerdetails">Customer Details</a>
          </li>
          <li class="nav-item ">
            <a href="/logout" class="nav-link">Logout</a>
          </li>

		</ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->
    
    <section class="hero-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block mt-4">
               <div class="product-display1">
                 <table class="product-display-table1">
                   <thead>
                     <tr>
                       <td>Name</td>
                       <td>Email</td>
                       <td>Items</td>
                       <td>Total</td>
                       <td colspan="2">Status</td>
                     </tr>
                   </thead>
                   <% cartItems.forEach(function(item){ %>
                     <% menus.forEach(function(menu){ %>
                       <% users.forEach(function(user){ %>
                         <% if(item.menuItemId == menu._id){ %>
                          <% if(user._id == item.userId){%>
                           <tr>
                             <td><%= user.name %></td>
                             <td><%= user.email %></td>
                             <td><%= menu.foodname %></td>
                             <td><%= menu.price %></td>
                             <td>
                             <form action="/orderstatus" method="POST">
                               <button name="accepted" type="submit" class="btn" value="<%=user._id%>"> <i class="fas fa-edit"></i>Accepted</button>
                             </form>
                             <form action="/orderstatus" method="POST">
                               <button name="cancelled" type="submit" class="btn" value="<%=user._id%>"> <i class="fas fa-trash">Cancelled</i></button>
                             </form>
                         </td>
                       </tr>
                           <%}%>
                         <% } %>
                       <% }) %>
                     <% }) %>
                   <% }) %>
                 </table>
               </div>
              </div>
            </div>
          </div>
        </div>
    </section>  

      
    <div class="footer-bottom">
      <h5>&copy; Copyright 2022. All rights reserved.</h5>
      <h6>Design and Developed by:Group 6</h6>
      </div>
    </footer> <!-- end footer -->
    
    
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>
    <script src="plugins/jquery/jquery.min.js"></script>
    
    <!-- Bootstrap4 -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Parallax -->
    <script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
    <!-- lightbox -->
    <script src="plugins/lightbox2/js/lightbox.min.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- Smooth Scroll js -->
    <script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
    <script src="plugins/google-map/gmap.js"></script>
    
    <!-- Custom js -->
    <script src="js/script.js"></script>      
</body>
</html>