<!doctype html>
  <html lang="en">
    <head>
      <title>Reset Password</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  
    </head>
    <body>
      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
    
        <a href="#" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/img/logo.png" alt="">
        <!-- <h1>Gfos<span>.</span></h1> -->
        </a>
    
        <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
        <a class="btn-book-a-table" href="/login">Login</a>
        <a class="btn-book-a-table" href="/signup">SignUp</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        
        </nav><!-- .navbar -->
      </div>
      </header><!-- End Header -->
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
            <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4 text-center">Reset Password</h3>
                  </div>
                </div>
            <form action="/resetPasswordForm" method="POST" class="signin-form">
  
              <% if (typeof errorMessage !== "undefined") { %>
                <p class="alert alert-danger" role="alert"><%= errorMessage %></p>
                <% } %>
                <% if (typeof successMessage !== "undefined") { %>
                <p class="alert alert-success" role="alert"><%= successMessage %></p>
                <% } %>
  
                  <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="<%=(typeof inputData!='undefined') ? inputData.password: ''%>">
                    <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.password!="undefined") ? errors.password.msg: ""%></p>
                  </div>

                  <div class="form-group-mb-3">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" value="<%=(typeof inputData!='undefined') ? inputData.confirmPassword: ''%>">
                    <p style="color: red;"><%= (typeof errors!="undefined" && typeof errors.confirmPassword!="undefined") ? errors.confirmPassword.msg: ""%></p>
                  </div>

                  <button name="reset" value="reset" type="submit" class="btn btn-primary">Reset</button>
                </form>
                <p class="text-center">Been here before? <a data-toggle="tab" href="/login"> Log In</a></p>
              </div>
  
                  <div class="img" style="background-image: url(/img/sign_1.jpg);"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- ======= Footer ======= -->
     <footer id="footer" class="footer">
  
      <div class="container">
        <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
          <h4>Address</h4>
          <p>
            Gyalpozhing College of Information Technology <br>
            Gyalpozhing, Mongar - Bhutan<br>
          </p>
          </div>
    
        </div>
    
        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
          <h4>Contact</h4>
          <p>
            <strong>Phone:</strong> +975 77458732<br>
            <strong>Email:</strong> canteen.gcit@rub.edu.bt<br>
          </p>
          </div>
        </div>
    
        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
          <h4>Opening Hours</h4>
          <p>
            <strong>Mon-Sun: 9AM</strong> - 9PM<br>
          </p>
          </div>
        </div>
    
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Visit Us</h4>
          <div class="social-links d-flex">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
    
        </div>
      </div>
    
      <div class="container">
        <div class="copyright">
        @2022 <strong><span>GCITFoodOrderingSystem</span></strong>
        </div>
        <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Group_6</a>
        </div>
      </div>
    
      </footer><!-- End Footer -->
      <!-- End Footer -->
    
  
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  
    </body>
  </html>