<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/userabout.css" rel="stylesheet">
  <link href="/css/usermenu.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card button:hover {
      opacity: 0.7;
    }
    </style>
</head>
<body>
    <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/img/logo.png" alt="">
        <!-- <h1>Gfos<span>.</span></h1> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/secrets">Home</a></li>
          <li><a href="/userabout">About</a></li>
          <li><a href="/userMenu">Menu</a></li>
          <li><a href="#footer">Contact</a></li>
          
        </ul>
        <a href="/userCartItem" class="cart"><i class="bi bi-cart-plus-fill"></i></a>
        <a class="btn-book-a-table" href="/logout">Logout</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none  bi bi-x"></i>
        
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <br><br><br><br><br><br><br>
    <div class="product-display">
        <table class="product-display-table">
          <thead>
            <tr>
              <td>Menu</td>
              <td>Food Name</td>
              <td>Description</td>
              <td>Price</td>
              <td colspan="2"></td>
            </tr>
          </thead>

          <% menus.forEach(function(image) { %>
          <tr>
              <td><img style="width: 30%; height: 30%;" class="card-img-top" src="/uploads/<%=image.image%>" ></td>
              <td><%= image.foodname %></td>
              <td><%= image.desc %></td>
              <td><%= image.price %></td>
              <td>
            <form action="/userMenu" method="POST">
              
            <button name="submit" value="<%= image._id %>" type="submit" class="btn btn-primary">Order</button>
            </form>
          </td>
            <% }) %>
          </tr>
        </table>
      </div>


      <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              Gyalpozhing College of Information Technology <br>
              Gyalpozhing, Mongar - Bhutan<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact</h4>
            <p>
              <strong>Phone:</strong> +975 77458732<br>
              <strong>Email:</strong> canteen.gcit@rub.edu.bt<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sun: 9AM</strong> - 9PM<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Visit Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        @2022 <strong><span>GCITFoodOrderingSystem</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Group_6</a>
      </div>
    </div>

  </footer><!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/index.js"></script>


  <% if (typeof errorMessage !=="undefined" ) { %>
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: "<%= errorMessage %>",
    })
    </script>
<% } %>
<% if (typeof successMessage !== "undefined") { %>
  <script>
    swal({
      title: "Good job!",
      text: "<%= successMessage %>",
      icon: "success",
    });
    </script>
<% } %>


</body>

</html>