@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --green: #27ae60;
    --black:#333;
    --white: #fff;
    --bg-color: #eee;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    display: block;
    width: 50%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-left: 50px;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background: var(--green);
    color: var(--white);
    text-align: center;
}

.btnadd {
    display: block;
    width: 15%;
    cursor: pointer;
    border-radius: .8rem;
    margin-top: 1rem;
    margin-left: 50px;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background: rgba(11, 107, 46, 0.573);
    color: var(--white);
    text-align: center;
}
.btnadd:hover {
  background: #000;
}


.btnedit {
  display: block;
  width: 35%;
  cursor: pointer;
  border-radius: .8rem;
  margin-top: 1rem;
  margin-left: 150px;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background: rgba(11, 107, 46, 0.573);
  color: var(--white);
  text-align: center;
}
.btnedit:hover {
background: #000;
}

.btn:hover{
    background: var(--black);

}

.container{
    max-width: 120;
    padding: 2rem;
    margin: 0 auto;
}

.admin-product-form-container .centered{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.admin-product-form-container form{
    max-width: 50rem;
    margin-top: 100px;
    margin-left: 300px;
    padding: 2rem;
    border-radius: .5rem;
    background: black;
}

.admin-product-form-container form h3{
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}

.admin-product-form-container form .box{
    width: 100%;
    border-radius: .5rem;
    padding: 1.2rem 1.5rem;
    font-size: 1,7rem;
    margin: 1rem 0;
    background: var(--white);

}
.admin-product-form-container form .btn{
  margin-left: 25%;
}

.admin-product-form-container form .btn:first-child {
  margin-top: 0;
}
.admin-product-form-container form .btn:last-child {
  background-color: #27ae60;
}
.admin-product-form-container form .btn:last-child :hover {
  background-color: black;
}


.product-display{
  margin: 2rem 0;
  /* overflow-y: scroll; */
  background-color: rgb(26, 25, 25);
}

.product-display .product-display-table{
  margin-left: 100px;
  margin-right: 100px;
  width: 80%;
  text-align: center;
}

.product-display .product-display-table thead{
  font-size: 1rem;
  background: black;
  
}

.product-display .product-display-table td{
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: var(--border);
}
.product-display .product-display-table th{
  padding: 1rem;
  font-size: 2rem;
  border-bottom: var(--border);
}

.product-display .product-display-table .btn:first-child{
  margin-top: 0;
}

.product-display .product-display-table .btn:last-child{
  background: crimson;
}

.product-display .product-display-table .btn:last-child:hover{
  background: var(--black);
}

.product-display1{
    margin: 2rem 0;
    /* overflow-y: scroll; */
    background-color: #000;
}

.product-display1 .product-display-table1{
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

.product-display1 .product-display-table1 thead{
  
    font-size: 1.5rem;
    background: black;
}

.product-display1 .product-display-table1 td{
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: var(--border);
}
 .product-display1 .product-display-table1 th{
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: var(--border);
 }

.product-display1 .product-display-table1 .btn:first-child{
    margin-top: 0;
}

.product-display1 .product-display-table1 .btn:last-child{
    background: crimson;
    margin-top: 5%;
}

.product-display1 .product-display-table1 .btn:last-child:hover{
    background: var(--black);
}


@media(max-width:991px){
    html{
        font-size: 55%;
    }

}

@media(max-width:768px){

    .product-display{
       overflow-y: scroll; 
    }
  
    .product-display .product-display-table{
        width: 80rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .product-display .product-display-table{
        width: 80rem;
    }
}

@media(max-width:768px){

    .product-display1{
       overflow-y: scroll; 
    }
  
    .product-display1 .product-display1-table{
        width: 80rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .product-display1 .product-display1-table{
        width: 80rem;
    }
}

.footer-bottom {
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
  }
  .footer-bottom h5 {
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
  }
  .footer-bottom h6 {
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
}


.navigation {
    transition: 0.3s all;
  }
  .navigation .logo-default {
    display: none;
  }
  .navigation .dropdown-toggle::before, .navigation .dropdown-toggle::after {
    display: none;
  }
  .navigation .dropdown-toggle i {
    font-size: 10px;
    margin-left: 2px;
    vertical-align: 2px;
  }
  .navigation .navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 20px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s ease-in-out 0s;
  }
  .navigation .navbar-light .navbar-nav .nav-item .nav-link:hover, .navigation .navbar-light .navbar-nav .nav-item .nav-link:active, .navigation .navbar-light .navbar-nav .nav-item .nav-link:focus {
    background: none;
    color: #28ABE3;
  }
  .navigation .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #28ABE3;
  }
  @media (max-width: 991px) {
    .navigation .nav-link {
      padding: 6px !important;
    }
    .navigation .navbar-collapse.show {
      overflow-y: auto;
      max-height: calc(100vh - 55px);
    }
  }
  .navigation .dropdown-submenu .dropdown-menu {
    margin: 0;
    background-color: #131313;
  }
  @media (min-width: 992px) {
    .navigation .dropdown-submenu .dropdown-menu {
      left: 100%;
      top: -5px;
    }
    .navigation .dropleft .dropdown-menu {
      left: auto;
      right: 100%;
      margin: 0;
      top: -5px;
    }
    .navigation .dropdown-submenu .dropdown-menu {
      background-color: #000;
    }
  }
  .navigation .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }
  .navigation .dropdown-menu {
    border: 0;
    border-radius: 0;
    top: 80%;
    left: 5px;
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    background: #000;
    transition: 0.3s ease;
  }
  .navigation .dropdown-menu li:first-child {
    margin-top: 12px;
  }
  .navigation .dropdown-menu li:last-child {
    margin-bottom: 12px;
  }
  @media (max-width: 991px) {
    .navigation .dropdown-menu {
      display: none;
      opacity: 1;
      visibility: visible;
      text-align: center;
      transition: 0s;
    }
  }
  @media (max-width: 991px) {
    .navigation .dropdown-menu.show {
      display: block;
    }
    .navigation .dropdown-menu {
      float: left;
      width: 100%;
    }
  }
  .navigation .dropdown-item {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s ease;
    padding: 8px 22px;
  }
  .navigation .dropdown-item:focus, .navigation .dropdown-item:hover {
    color: #fff;
    background: transparent;
  }
  
  @media (max-width: 991px) {
    .navigation {
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
      background: #fff;
    }
    .navigation .navbar-light .navbar-nav .nav-item .nav-link {
      color: #000;
    }
    .navigation .logo-white {
      display: none;
    }
    .navigation .logo-default {
      display: block;
    }
    .navigation .navbar-light .navbar-toggler {
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.1);
    }
  }
  .sticky-header {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }
  .sticky-header .navbar-light .navbar-nav .nav-item .nav-link {
    color: #000;
  }
  .sticky-header .logo-white {
    display: none;
  }
  .sticky-header .logo-default {
    display: block;
  }
  
  .navbar-brand {
    height: auto;
    padding: 8px 0;
  }
  
  .navbar-brand h1 {
    margin: 0;
  }
  
  .hero-area {
    background-image: url("../images/slider/slider-bg-1.jpg");
    background-size: cover;
    height: max-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-area:before {
    content: "";
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .hero-area .block {
    color: #fff;
  }
  .hero-area .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .hero-area .block p {
    color: #fff;
    width: 50%;
    margin-bottom: 20px;
  }
  .hero-area .block .btn-main {
    margin-right: 8px;
  }
  .hero-area .block .btn-main:hover {
    opacity: 0.8;
  }
  
  .hero-area-video {
    height: 100vh;
    position: inherit !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-area-video .block {
    color: #fff;
    text-align: center;
  }
  .hero-area-video .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .hero-area-video .block p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  .hero-area-video .block .btn-main {
    margin-top: 20px;
  }
  
  .dark-bg {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  
  .slider-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }
  .slider-item::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
  }
  .slider-item .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .slider-item h1 {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  @media (max-width: 768px) {
    .slider-item h1 {
      font-size: 48px;
      line-height: 52px;
    }
  }
  @media (max-width: 480px) {
    .slider-item h1 {
      font-size: 38px;
      line-height: 46px;
    }
  }
  .slider-item p {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .hero-slider {
    overflow-x: hidden;
  }
  .hero-slider .prevArrow {
    left: -100px;
  }
  .hero-slider .nextArrow {
    right: -100px;
  }
  @media (max-width: 768px) {
    .hero-slider .prevArrow,
  .hero-slider .nextArrow {
      display: none !important;
    }
  }
  .hero-slider:hover .prevArrow {
    left: 20px;
  }
  .hero-slider:hover .nextArrow {
    right: 20px;
  }
  
  /* slick style */
  .slick-slide {
    outline: 0;
  }
  
  .slick-slide img {
    display: unset;
  }
  
  /* slick arrows */
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    height: 70px;
    width: 70px;
    background: rgba(40, 171, 227, 0.5);
    color: #fff;
    border: 0;
    line-height: 70px;
    font-size: 35px;
    transition: 0.2s ease;
    border-radius: 50%;
    cursor: pointer;
  }
  .slick-arrow::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background: transparent;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: 0.2s ease;
  }
  .slick-arrow::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    transition: 0.2s ease;
  }
  .slick-arrow:focus {
    outline: 0;
  }
  .slick-arrow:hover {
    background: #28ABE3;
  }
  
  .prevArrow {
    left: 0px;
  }
  .prevArrow::before {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    right: 35px;
  }
  .prevArrow::after {
    right: 20px;
  }
  
  .nextArrow {
    right: 0px;
  }
  .nextArrow::before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    left: 35px;
  }
  .nextArrow::after {
    left: 20px;
  }
  

