.single-page-header {
    background-image: url("../images/about/about-header.jpg");
    background-size: cover;
    padding: 140px 0 70px;
    text-align: center;
    color: #fff;
    position: relative;
}
  .single-page-header:before {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*=================================================================
  About us section
==================================================================*/
.about {
    padding: 100px 0;
    background: #fff;
  }
  .about .btn-about {
    background: #28ABE3;
  }
  .about h4 {
    margin-top: 30px;
  }
  .about .feature-list {
    margin-top: 10px;
  }
  .about .feature-list li {
    width: 48%;
    display: inline-block;
    color: #666;
    font-size: 13px;
    font-family: "Catamaran", sans-serif;
    margin-bottom: 5px;
    font-weight: 600;
  }
  @media (max-width: 768px) {
    .about .feature-list li {
      width: auto;
      margin-right: 20px;
    }
  }
  .about .feature-list li i {
    color: #28ABE3;
    margin-right: 8px;
  }
  
  /*=================================================================
    About us 2 section
  ==================================================================*/
  .about-2 {
    background: #F7F7F7;
  }
  .about-2 .checklist {
    padding-left: 30px;
  }
  .about-2 .checklist li {
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
  }
  .about-2 .checklist li:before {
    position: absolute;
    margin-right: 12px;
    margin-left: -45px;
    content: "\f375";
    font-family: "themefisher-font";
    opacity: 1;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 20px;
  }

.about .feature-list li i {
    color: #28ABE3;
    margin-right: 8px;
}

.border {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #28ABE3;
  }

/*=================================================================
  Our Team
==================================================================*/
.team {
    padding: 100px 0;
    padding-bottom: 90px;
    background: #F6F6F6;
  }
  .team .team-member {
    background: #fff;
    margin-bottom: 30px;
  }
  .team .team-member .member-content {
    padding: 25px 0;
  }
  .team .team-member .member-content h3 {
    font-size: 20px;
    margin: 0 0 5px;
    color: #333;
  }
  .team .team-member .member-content span {
    font-size: 14px;
    color: #555;
  }
  .team .team-member .member-content p {
    color: #777;
    margin-top: 10px;
    padding: 0 15px;
  }
  .team .member-photo {
    overflow: hidden;
    position: relative;
  }
  .team .member-photo:hover img {
    transform: scale(1.1);
  }
  .team .member-photo img {
    transition: all 0.6s ease 0s;
  }
  .team .member-photo .mask {
    background: rgba(40, 171, 227, 0.7);
    position: absolute;
    width: 100%;
    bottom: 0;
    top: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    right: 0;
    cursor: pointer;
    padding: 0;
    height: 80px;
    transform: translateY(100%);
    transition: all 0.3s ease;
  }
  .team .member-photo .mask ul {
    text-align: center;
    position: relative;
    margin-top: 22px;
  }
  .team .member-photo .mask ul li {
    display: inline-block;
    margin-right: 7px;
  }
  .team .member-photo .mask ul li a {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
  }
  .team .member-photo .mask ul li a::hover {
    background-color: #6cb670;
    border: 1px solid transparent;
  }
  .team .member-photo:hover .mask {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateY(0%);
  }
  