@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --green: #27ae60;
    --black:#333;
    --white: #fff;
    --bg-color: #eee;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border: .1rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    display: block;
    width: 50%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-left: 50px;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background: var(--green);
    color: var(--white);
    text-align: center;
}

.btn:hover{
    background: var(--black);

}

.container{
    max-width: 120;
    padding: 2rem;
    margin: 0 auto;
}

.product-display{
    margin: 2rem 0;
    width: 82%;
    /* overflow-y: scroll; */
}

.product-display .product-display-table{
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    text-align: center;
}



.product-display .product-display-table thead{
    font-size: 1rem;
    
}

.product-display .product-display-table td{
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: var(--border);
}

.product-display .product-display-table td .card-img-top{
    width: 30%;
}
 .product-display .product-display-table th{
    padding: 1rem;
    font-size: 2rem;
    border-bottom: var(--border);
 }

.product-display .product-display-table .btn:first-child{
    margin-top: 0;
}

.product-display .product-display-table .btn:last-child{
    background: rgb(122, 74, 10);
    width: 100px;
    height: 40px;
}

.product-display .product-display-table .btn:last-child:hover{
    background: var(--black);
}



@media(max-width:991px){
    html{
        font-size: 55%;
    }

}

@media(max-width:768px){

    .product-display{
       overflow-y: scroll; 
    }
  
    .product-display .product-display-table{
        width: 80rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .product-display .product-display-table{
        width: 80rem;
    }
}

@media(max-width:768px){

    .product-display1{
       overflow-y: scroll; 
    }
  
    .product-display1 .product-display1-table{
        width: 80rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .product-display1 .product-display1-table{
        width: 80rem;
    }
}



